[class*="status-2"]{
    background-color: #16C98D; /* $green */
}

[class*="status-3"]{
    background-color: #FFC83F; /* $orange */
}

[class*="status-4"]{
    background-color: #FA5E5B; /* $red */
}

[class*="status-404"]{
    background-color: red;
}