@import "compass/css3/images";

[data-tooltip]{
    position: relative;

    &::after{
        content: attr(data-tooltip);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        padding: 0 1em;
        font-weight: normal;
        font-size: 11px;
        line-height: 1.8;
        white-space: nowrap;
        background-color: $tooltip-bg;
        @include background( linear-gradient( $tooltip-bg, darken($tooltip-bg, 6%) ) );
        color: $tooltip-color;
        text-shadow: 1px 1px 0 #FFF;
        box-shadow:0 .5px 1.75px rgba(0,0,0,.33);
        border-radius: 3px;
        @include transform( scale3d(0,0,0) );
        @include transition( all ease-out 200ms );
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &:hover::after{
        @extend %show-tooltip;
    }

}

.tooltip-top:hover::after{
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: $tooltip-spacing/2;
}

.tooltip-right:hover::after{
    top:50%;
    margin:-$tooltip-spacing 0 0 $tooltip-spacing;
    left:100%;
}

.tooltip-bottom:hover::after{
    @extend %show-tooltip;
}

.tooltip-left:hover::after{
    top:50%;
    margin:-$tooltip-spacing $tooltip-spacing 0 0;
    left:auto;
    right:100%;
}
