$green: #16C98D;
$orange: #FFC83F;
$red: #FA5E5B;

$gutter-size: 30px;
$light-yellow: #FFC;

$tooltip-bg: #FFF;
$tooltip-color: #444;
$tooltip-spacing: 10px;

$table-row-alt-color: #F7F7F7;
$table-border-color: #EAEAEA;

$log-nav-bg: #FBFBFB;
$log-nav-color: #AAA;